# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Archivos temporales
*.log
*.tmp
*.bak

# VS Code
.vscode/

# macOS
.DS_Store

# Caché de pruebas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Cobertura
.coverage
.coverage.*
htmlcov/
coverage.xml
